@media screen and (max-width:3000px) {
    #reg {
        float: left;
        position: fixed;
        left: 37%;
        top: 20%;
    }

    #log {
        font-size: xx-large;
        position: fixed;
        top: 10%;
        left: 47%;
    }
}

@media screen and (max-width:650px) {
    #reg {
        position: fixed;
        top: 27%;
        left: -25%;
    }

    #log {
        font-size: xx-large;
        position: fixed;
        top: 10%;
        left: 45%;
    }
}