<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <title>register</title>
    <style>
        @media screen and (max-width:3000px) {
            #reg {
                float: left;
                position: fixed;
                left: 20%;
                top: 20%;
            }
            #log {
                font-size: xx-large;
                position: fixed;
                top: 5%;
                left: 37%;
            }
        }
    </style>
</head>

<body style="background-color: rgb(231, 238, 243);">
<div id="log">修改信息</div>
<div id="reg">
    <form class="layui-form" action="" id="in">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="required" placeholder="用户名" autocomplete="off"
                       class="layui-input" style="width: 200%;">
                <br>
                <!-- 日期 -->
                <input type="text" name="birthday" class="layui-input" id="date" placeholder="出生日期" style="width: 200%;">
                <br>
                <input type="text" name="password" required lay-verify="required" placeholder="密码"
                       autocomplete="off" class="layui-input" style="width: 200%;">
                <br>
                <input type="text" name="email" required lay-verify="required" placeholder="电子邮箱" autocomplete="off"
                       class="layui-input" style="width: 200%;">
            </div>
        </div>
        <br>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo" style="width: 200%;">提交</button>
            </div>
        </div>
    </form>
</div>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="changeuser.js"></script>
</body>

</html>