<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layui/css/layui.css">
    <title>frame</title>
</head>
<body>
    <div style="position: fixed;top: 10%;left: 10%">
        <table id="demo" lay-filter="test"></table>
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/html" id="barDemo">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-sm" lay-event="update">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
        </div>
    </script>
    <script src="layui/layui.js"></script>
    <script src="contentframe.js"></script>

</body>
</html>