<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章管理</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
    <script src="echarts.js"></script>
</head>
<body>
<hr style="position: fixed;left: 0%;width: 120%;top: 54%;">
<div>
    <form class="layui-form" action="" id="find" style="position: fixed;left: 10%;top: 5%">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="findbyname" placeholder="请输入要查找的用户" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn" lay-submit lay-filter="findname">查找</button>
        </div>
    </form>
</div>
<div style="position: fixed;top: 10%;left: 10%;color: #b2b2b2">
    <table id="demo" lay-filter="test"></table>
</div>

<div id="main" style="width: 1000px;height:300px;top: 400px;left: 100px"></div>

<!-----------------------以下是js------------------------>
<script>

</script>
<script src="layui/layui.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" lay-event="update">进入文章管理</a>
    </div>
</script>
<script src="docs.js"></script>
</body>
</html>