<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frame</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">个人资料</li>
        <li>修改密码</li>
    </ul>
    <div class="layui-tab-content">
        <!------------------------------第一模块：修改信息------------------------------------------------->
        <div class="layui-tab-item layui-show layui-bg-gray">
            <form class="layui-form" action="" id="in">

                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" id="name",required lay-verify="required" placeholder="用户名" autocomplete="off"
                               class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">出生日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="birthday" class="layui-input" id="date" placeholder="出生日期" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电子邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" id="email" required lay-verify="required" placeholder="电子邮箱" autocomplete="off"
                               class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">余额</label>
                    <div class="layui-input-inline">
                        <input type="text" id="amoney" required lay-verify="required" placeholder="余额" autocomplete="off"
                               class="layui-input" >
                    </div>
                </div>
                <div class="layui-input-inline" style="position: absolute;left: 7%">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" >提交</button>
                </div>
            </form>
        </div>
        <!----------------------------第二模块：修改密码-------------------------------------------------->
        <div class="layui-tab-item layui-bg-gray">
            <form class="layui-form" action="" id="pwd">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="lastpassword" required  lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="newpassword" required  lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="comfirmpassword" required  lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-input-inline" style="position: absolute;left: 7%">
                    <button class="layui-btn" lay-submit lay-filter="passwordsubmit" >提交</button>
                </div>
            </form>
        </div>
        <!-----------------------------第二模块结束----------------------->
    </div>

</div>

<script src="person.js"></script>
</body>
</html>
