<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="content.css">
</head>
<body>
    <div id="head">
        <h1>WEB技术课程演示系统</h1>
    </div>
    <div id="menu">
        <a href="welcome.html" target="contentframe" style="color: whitesmoke;">首页</a><br>
        <br>
        <hr>
        <a href="#" onclick="blue()" style="color: white;">深蓝</a><br>
        <a href="#" onclick="yellow()" style="color: white;">橘黄</a><br>
        <hr>
        文章管理<br>
        <a href="users.html" target="contentframe" style="color: whitesmoke;">用户管理</a><br>
    </div>
    <div id="footer">
        <a style="text-align: center;">武汉理工大学2021</a>
    </div>
    <div id="content">
        <iframe id="contentframe" name="contentframe" scrolling="no"
                src="welcome.html" frameborder="0" width=1400 height=500></iframe>
    </div>

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="content.js"></script>
</body>

</html>