<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>frame</title>
</head>
<body>
<!--    <div style="position: fixed;top: 1%">-->
<!--        <div>-->
<!--            <form class="layui-form" action="" id="find">-->
<!--                <div class="layui-form-item">-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" id="findbyname" placeholder="请输入要查找的用户" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                    <button class="layui-btn" lay-submit lay-filter="findname">查找</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div>-->
<!--            <table id="demo" lay-filter="test"></table>-->
<!--        </div>-->
<!--    </div>-->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header"></div>
                <div class="layui-card-body">
                    <div class="layui-card-header">
                        <div class="layui-inline" style="float: right">
                            <div class="layui-input-inline">
                                <input name="search" id="findbyname" placeholder="请输入要查找的用户"
                                       autocomplete="off" class="layui-input" type="text">
                            </div>
                            <button class="layui-btn layui-btn-primary" lay-submit lay-filter="findname">查找</button>
                        </div>
                    </div>
                    <table class="layui-table" id="demo" lay-filter="test" name="usertable"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="barDemo" name="toolbar">
        <button class="layui-btn layui-btn-xs" lay-event="update">编辑</button>
        <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</button>
    </script>
</div>
    <!-----------------------以下是js------------------------>

<!--    <script type="text/html" id="barDemo">-->
<!--        <div class="layui-btn-container">-->
<!--            <a class="layui-btn layui-btn-sm" lay-event="update">编辑</a>-->
<!--            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>-->
<!--        </div>-->
<!--    </script>-->
    <script src="users.js"></script>
</body>

</html>