<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getInfo" parameterType="com.example.demo.bean.UserT" resultType="com.example.demo.bean.UserT">
        SELECT * FROM usert WHERE name = #{name} AND password = #{password}
    </select>

    <select id="getUserbyname" parameterType="String" resultType="com.example.demo.bean.UserT">
        select * from usert where name=#{name};
    </select>

    <select id="getUserList" resultType="com.example.demo.bean.UserT">
        select * from usert
    </select>
    
    <select id="addUser" parameterType="com.example.demo.bean.UserT">
        insert into usert (name,password,email,birthday,money)
        values (#{name},#{password},#{email},#{birthday},0);
    </select>

    <select id="deleteUser" parameterType="int">
        delete from usert where id = #{id}
    </select>

    <select id="updateUser" parameterType="com.example.demo.bean.UserT">
        update usert set password=#{password},name=#{name},birthday=#{birthday},money=#{money},email=#{email}
        where id = #{id}
    </select>
</mapper>
